{% extends "registration/base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/signin.css' %}"></link>
{% endblock %}

{% block body %}
<div id="signindiv">
	<form method="post" class="form-signin">
		{% csrf_token %}
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="input" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<div class="mb-3">
			<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>
{% endblock %}
