{% extends "registration/base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/signin.css' %}"></link>
{% endblock %}

{% block body %}
<div id="signindiv">
	<form method="post" class="form-signin">
		{% csrf_token %}
		<h1 class="h3 mb-3 font-weight-normal">Change password</h1>
		<label for="id_old_password" class="sr-only">Old password</label>
		<input type="password" name="old_password" id="id_old_password" class="form-control" placeholder="Old password" required autofocus>
		{% if form.errors %}
		<div class="text-danger">
			{% for key, error in form.errors.items %}
				{{ error }}
			{% endfor %}
		</div>
		{% else %}
			<div class="django_help_text text-warning">
				{{ form.new_password1.help_text|safe }}
			</div>
		{% endif %}
		<label for="id_new_password1" class="sr-only">Password</label>
		<input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="New password" required>
		<label for="id_new_password2" class="sr-only">Password</label>
		<input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirm new password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</form>
</div>
{% endblock %}
